@import "compass";
@import "partials/normalize";
@import "partials/blankwork";
@import "partials/settings";


@import "partials/variables";
@import "partials/mixins";


// Import Theme
@import "theme/general";
@import "theme/header";
@import "theme/navigation";
@import "theme/introduction";
@import "theme/pitch";
@import "theme/footer";

//Layout
$_columns: 12 ;      // Total number of columns
$_column-width: 60px ;   // Width of a single column
$_gutter: 20px ;     // Width of the gutter
