header {
  @include container;
  padding-top: 40px;
  
  h1 {
    @include spr("logo");
    @include hide-text;
    height: 145px;
    width: 338px;
    padding-right: 10px;
    margin-top: -40px;
  }

  h6 {
    margin: 0;
    color: $darkFont;
  }

  h1, h6 {
    @include column(2)
  }
}