
.introduction {
	@extend .pattern;
	@include fullwidth($_subtract: $padding * 4);
	padding: $padding * 2;
	margin: $verticalSpace 0 0;


	text-align: center;
	font-family: $emFont;
	font-style: italic;
	font-size: 24px;

	border-top: 1px dotted #c6c6c6;
	line-height: 36px;
	color: $darkFont;

	em {
		color: $emColor;
		font-weignt: bold;
	}
}

