/*-------------------------------*/
/* Variables 
/*-------------------------------*/

//Generic Colors:
$bgColor: #f8f8f8;

// Font Colors: 
$lightFont: #8d8f92;
$darkFont: #707070;
$emColor: #36b679;

// Links 
$linkColor: #e95e4c;
$linkHover: darken($linkColor, 4%);

// Size: 
$font_size: 12px;
$lineHover: 20px;

$padding: 10px;

$emFont: "Droid Serif", serif;
$verticalSpace: $padding *5;
